{% extends 'base.html' %}
{% block content %}

<div class="card">
    <h2>👨‍🎓 Student Registration</h2>

    <p style="color:#ffb4b4;">{{ error }}</p>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Choose Username" required>
        <input type="password" name="password" placeholder="Choose Password" required>
        <button class="btn">Register</button>
    </form>

    <p>
        Already registered?
        <a class="btn" href="{% url 'student_login' %}">Login</a>
    </p>
</div>

{% endblock %}
